<div class="container" style="margin-top:30px">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">{{ $ctrl.name }}</div>
      <div class="panel-body">
        <div class="pad-btm">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel">
                <form>
                  <div class="form-group">
                    <label for="sellerName">Seller Name</label>
                    <input type="text" class="form-control" placeholder="Seller Name">
                  </div>
                  <div class="form-group">
                    <label for="Countries">Countries</label>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" 
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span>UK</span>
                        <span>USA</span>
                        <span>USA</span>
                        <span>FR</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Offices">Offices</label>
                    <input type="text" class="form-control" placeholder="Offices">
                  </div>
                  <div class="form-group">
                    <label for="dealType">Deal Type</label>
                    <input type="text" class="form-control" placeholder="Deal Type">
                  </div>
                  <div class="form-group">
                    <label for="contactName">Contact Name</label>
                    <input type="text" class="form-control" placeholder="Contact Name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button class="btn btn-warning">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>